.topnav {
    background-color:#292928;
    text-align: center;
    border-radius: 10px;
    display: flex;
    width: fit-content;
    margin: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  }
  
  .topnav a {

    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    border-radius: 10px;
    background-color:#454343
    ;
    color: white;
  }

  .topnav a.home {
    background-color: #04AA6D;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }    
.contact
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}

body {
  background-color: #21211f;
  text-align: center;
}

.title
{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  color: White;
  text-align: center;
}

.paragraph
{
  width: fit-content;
  text-align: center;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
	border: 1px solid;
	border-color: #04AA6D;
	display: inline-block;
	margin: 20px 5px;
	padding: 20px;
	background: #31393b;
	color: #FFF;
  font-size: 20px;
}

.downloadparagraph
{
  text-align: center;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
	border: 1px solid;
	border-color: #04AA6D;
  width: fit-content;
	display: inline-block;
	margin: 20px 5px;
	padding: 20px;
	background: #31393b;
	color: #FFF;
  font-size: 20px;
}


@media screen and (max-width: 425px) {
  body
   {
    width: 100%;
	}
	.pstyle
	{
		width: 50%;
	}
}

.download-btn
{
  width: fit-content;
  display: block;
  background:none;
	margin: 10px auto;
	text-align: center;
	border:2px solid #2ecc71;
	padding:14px  10px;
  text-decoration: none;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}
.download-btn:hover
{
  border: 2px solid cyan;
  transition: 0.50s;
}

.container
{
  border:1px solid #04AA6D;
  border-radius: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container input[type = "text"]
{
  border:0;
	background: none;
	display: block;
	margin:3px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding:14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}
.container textarea
{
	background: none;
	display: block;
	margin:3px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding:14px 10px;
	width: 300px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}
.container textarea:focus{ 
	width: 310px;
	border-color: cyan;
}

.container input[type = "text"]:focus{ 
	width: 280px;
	border-color: cyan;
}
.container input[type = "submit"]{
	border:0;
	background:none;
	display: black;
	margin: 20px auto;
	text-align: center;
	border:2px solid #2ecc71;
	padding:14px 40px;

	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.container input[type = "submit"]:hover{
  border: 2px solid cyan;
}


form{
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  max-width: 600px;
  width: 90%;
  border-radius: 10px;
}

form h1
{
color :White;
font-weight: 800;
margin-bottom: 20px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}